/target/
/.settings/
/.settings
/.project
/.classpath
.DS_Store
/pt-core/target/
/pt-core/.settings/
/pt-core/.settings
/pt-core/.project
/pt-core/.classpath
/pt-dao/target/
/pt-dao/.settings/
/pt-dao/.settings
/pt-dao/.project
/pt-dao/.classpath
/pt-web/target/
/pt-web/.settings/
/pt-web/.settings
/pt-web/.project
/pt-web/.classpath
/pt-webservice/target/
/pt-webservice/.settings/
/pt-webservice/.settings
/pt-webservice/.project
/pt-webservice/.classpath